<h1><%=(@generic_list.title || @generic_list.name).titlecase %> List</h1>

<p>
	<%= link_to 'Edit', edit_generic_list_path(@generic_list) %> 
	<%= link_to 'Back', generic_lists_path %>
</p>
<%=render_table([@generic_list], 
										title: "List",
										selectbox: false,
										column_order: %w(name title description type created_at updated_at)
					)%>

<% if @generic_list.items.size > 0 then %>
	<%=render_table(@generic_list.items.first([(params[:count] || 1000).to_i, 0].max), 
										title: "List Items (first #{[(params[:count] || 1000).to_i, 0].max})",
										selectbox: false,
										column_order: %w(.* type generic_list_id created_at updated_at)
					){|rec, gli|
						# gli = GenericListItem.find(rec[:id])
						# rec[:gene] = gli.value["gene"]
						# other_attr = gli.value.keys - ["gene"]
						# other_attr.each do |a|
						
						#gli.value.keys.each do |a|
						#	rec[a] = gli.value[a]
						#end
						#rec.delete(:value)
						rec = gli.value
						rec
	}
	%>
<% else %>
	No items available. 
<% end %>
<br />
<%= link_to 'Edit', edit_generic_list_path(@generic_list) %> 
<%= link_to 'Back', generic_lists_path %>